<div class="row">
    <div class="col-sm-4">
        <img class="show-image" ng-src="{{episode.img_url}}">
    </div>

    <div class="col-sm-8">
        <h1>{{episode.name}}</h1>
        {{episode.summary}}
        <hr>
        <b>Air Date: </b> {{episode.air_date}}

        <input id="input-id" type="number" class="rating" step="1" size="xs" data-show-caption="false" data-show-clear="false" data-size="xs" data-rtl="false">
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Comments</h2>
        <!-- Add parent Comment -->
        <button class="btn btn-default pull-right" ng-click="clickReply(-1)" ng-show="user">Reply</button>

        <div ng-show="showParentReplyBox">
            <textarea ng-model="parentReplyBoxText"></textarea>
            <button ng-click="submitParentComment(-1)" class="btn btn-primary">Submit</button>
            <button ng-click="hideCommentBox(-1)" class="btn btn-primary">Cancel</button>
        </div>

        <!-- All the comment -->
        <div style="border-bottom: 2px solid #000000" ng-repeat="parentcomment in comments" ng-if="parentcomment.parent_id == -1">
            <div>
                <div>{{parentcomment.text}}</div>
                <div>{{parentcomment.post_time}}</div>
            </div>
            <div style="margin-left:50px;" ng-repeat="childcomment in comments" ng-if="childcomment.parent_id == parentcomment._id">
                <button ng-click="points(childcomment._id,'increase')">Good</button>{{childcomment.points}}<button ng-click="points(childcomments._id, 'decrease')">Suck</button>
                {{childcomment.text}} <br>
                {{childcomment.post_time}} <br>
            </div>
            <!-- reply button -->
            <button ng-click="clickReply($index)" class="btn btn-primary btn-sm" ng-show="user">Reply</button>
            <!-- reply box -->
            <div ng-show="showChildReplyBox[$index]">
                <textarea ng-model="replyBoxText[$index]"></textarea> <br>
                <button ng-click="submitReplyComment($index)" class="btn btn-primary btn-sm">Submit</button>
                <button ng-click="hideCommentBox($index)" class="btn btn-danger btn-sm">Cancel</button>
            </div>

        </div>


    </div>
</div>