<!--NAV BAR-->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/index">Fandom</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" ng-show="profile">
                        <a href="javascript:;" datatarget="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Favorites <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="favorite in favoritesList"><a href="#/show/{{favorite._id}}">{{favorite.name}}</a></li>
                            <li ng-show="favoritesList.length === 0"> None </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-show="profile" href="#/profile/{{user._id}}"><span class="glyphicon glyphicon-user"></span> {{user.local.email}}</a></li>

                    <li><a ng-click="logout()" href="javascript:;" ng-show="profile"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                    <li><a ng-show="!profile" href="#/login">Login</a></li>
                    <li><a ng-show="!profile" href="#/signup">Sign Up</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
</div>
<!--NAV BAR END-->

<div class="body-below-nav">
<div id="home-header-image" class="row home-header-image">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h1 id="home-header-text-level-1">Cool. <br>Cool cool cool.</h1>
        <h2 id="home-header-text-level-2">Fandom brings together fans of your favorite TV shows</h2>
        <h3 id="home-header-text-level-3">Tell jokes, ask questions, and discuss theories</h3>
        <a href="/#/show/18347" class="btn btn-primary btn-lg" id="header-button-text"></a>
    </div>
</div>
<br>
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

<div class="row" >
    <div class="col-md-2">

        <h3>Search</h3>
        <input class="form-control" ng-model="query" type="text" placeholder="TV Show Name">

        <hr>
        <div class="visible-md-block visible-lg-block">
            <h3>Genres</h3>
            <ul class="list-group">
                <a ng-click="search.genres = ''" class="list-group-item" ng-class="{active: search.genres==''}">All<br> </a>
                <a ng-repeat="aGenre in genres" ng-click="search.genres = aGenre" class="list-group-item" ng-class="{active: search.genres==aGenre}">{{aGenre}}<br> </a>
            </ul>
        </div>

        <div class="visible-xs-block visible-sm-block">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                                <span class="glyphicon glyphicon-chevron-right"></span> Genre
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-group" >
                                <a ng-click="search.genres = ''" onclick="$('#collapseOne').collapse('toggle');" class="list-group-item" ng-class="{active: search.genres==''}">All<br> </a>
                                <a ng-repeat="aGenre in genres" ng-click="search.genres = aGenre;" onclick="$('#collapseOne').collapse('toggle');" class="list-group-item" ng-class="{active: search.genres==aGenre}">{{aGenre}}<br> </a>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-10 col-md-10 col-sm-12">
        <div class="row">

            <div class="block-grid-xs-2 block-grid-sm-3">
                <div class="block-grid-item" ng-repeat="show in shows | filter:search | filter:{name: query}">
                    <div class="thumbnail">
                        <a href="#/show/{{show._id}}"><img ng-src="./data/images/{{show.img_filename}}"></a>
                        <div class="caption">
                            <a href="#/show/{{show._id}}"><h3>{{show.name}}</h3></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</div>
</div>
</div>