<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
<h1>Favorites</h1>

<!-- PROFILE INFORMATION -->
<div class="panel panel-default">
    <div class="panel-body">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#/profile/{{selectedUserId}}">Profile</a></li>
                <li role="presentation"><a href="#/profile_comments/{{selectedUserId}}">Comments</a></li>
                <li role="presentation" class="active"><a href="#/profile_favorites/{{selectedUserId}}">Favorites</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="block-grid-xs-2 block-grid-sm-3 block-grid-lg-4">
                    <div class="block-grid-item" ng-repeat="show in userFavorites">
                        <div class="thumbnail">
                            <a href="#/show/{{show._id}}"><img ng-src="./data/images/{{show.img_filename}}"></a>
                            <div class="caption">
                                <a class="episode-list-item" href="#/show/{{show._id}}"><h3>{{show.name}}</h3></a>
                                <button ng-if="isMyProfile" ng-click="removeFromFavorites(show._id)" class="episode-list-item pull-right btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
</div>