<!--NAV BAR-->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/index">Fandom</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" ng-show="profile">
                            <a href="javascript:;" datatarget="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Favorites <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="favorite in favoritesList" ng-if="user.favorites.indexOf(favorite._id) !== -1"><a href="#/show/{{favorite._id}}">{{favorite.name}}</a></li>
                                <li ng-show="favoritesList.length === 0"> None </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-show="profile" href="#/profile/{{user._id}}"><span class="glyphicon glyphicon-user"></span> {{user.local.email}}</a></li>

                        <li><a ng-click="logout()" ng-show="profile" ng-show="profile"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                        <li><a ng-show="!profile" href="#/login">Login</a></li>
                        <li><a ng-show="!profile" href="#/signup">Sign Up</a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>
<!--NAV BAR END-->

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h1>Comments</h1>

        <!-- PROFILE INFORMATION -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="#/profile/{{selectedUserId}}">Profile</a></li>
                        <li role="presentation" class="active"><a
                                href="#/profile_comments/{{selectedUserId}}">Comments</a></li>
                        <li role="presentation"><a href="#/profile_favorites/{{selectedUserId}}">Favorites</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div ng-repeat="comment in userComments" class="comment-user">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <div class="text-center"><b>{{comment.points}}</b></div>
                                </div>
                                <div class="media-body media-middle">
                                    <div>{{comment.text}}</div>
                                    <h6>{{comment.post_time}}</h6>
                                    <a href="#/episode/{{comment.episode_id}}"><h6>View - <i>{{comment.show_name}} ('{{comment.episode_name}}')</i></h6></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>