<div class="row">
    <div class="col-sm-4">
        <a href="#">
            <img class="show-image" src="./data/images/{{show.img_filename}}">
        </a>
    </div>
    <div class="col-sm-8">

        <h1>{{show.name}}</h1>
        {{show.summary}}

        <hr>
        <b>Cast: </b> <span ng-repeat="castMember in show.cast">{{castMember}} </span>
        <hr>
        <b>Network: </b> <span ng-repeat="network in show.networks">{{network}}</span>
        <hr>
        <div class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add To Favorites</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <div ng-repeat="seasonShows in allEpisodes">

        <h2 class="media-heading">{{allSeasons[$index]}}</h2>
            <a ng-repeat="show in seasonShows track by $index" href="#/episode/{{show._id}}"><h4>{{show.name}}</h4></a>


            <hr>

        </div>


    </div>
</div>