<div class="row">
    <div class="col-sm-3">
        <a href="#">
            <img class="show-image" src="./data/images/game_of_thrones.jpg">
        </a>
    </div>
    <div class="col-sm-8">

        <h1 class="media-heading">Game Of Thrones</h1>
        Blah blah blah dragons blah blah fighting blah blah war blah blah
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <hr>
        <h2 class="media-heading">Season 1</h2>
            <h4>Episode 1</h4>
            <h4>Episode 2</h4>
            <h4>Episode 3</h4>
            <h4>Episode 4</h4>
            <h4>Episode 5</h4>
            <h4>Episode 6</h4>
            <h4>Episode 7</h4>
            <h4>Episode 8</h4>
            <h4>Episode 9</h4>
            <h4>Episode 10</h4>
            <hr>

        <h2 class="media-heading">Season 2</h2>
            <h4>Episode 1</h4>
            <h4>Episode 2</h4>
            <h4>Episode 3</h4>
            <h4>Episode 4</h4>
            <h4>Episode 5</h4>
            <h4>Episode 6</h4>
            <h4>Episode 7</h4>
            <h4>Episode 8</h4>
            <h4>Episode 9</h4>
            <h4>Episode 10</h4>
            <hr>

        <h2 class="media-heading">Season 3</h2>
            <h4>Episode 1</h4>
            <h4>Episode 2</h4>
            <h4>Episode 3</h4>
            <h4>Episode 4</h4>
            <h4>Episode 5</h4>
            <h4>Episode 6</h4>
            <h4>Episode 7</h4>
            <h4>Episode 8</h4>
            <h4>Episode 9</h4>
            <h4>Episode 10</h4>
            <hr>

        <h2 class="media-heading">Season 4</h2>
            <h4>Episode 1</h4>
            <h4>Episode 2</h4>
            <h4>Episode 3</h4>
            <h4>Episode 4</h4>
            <h4>Episode 5</h4>
            <h4>Episode 6</h4>
            <h4>Episode 7</h4>
            <h4>Episode 8</h4>
            <h4>Episode 9</h4>
            <h4>Episode 10</h4>

    </div>
</div>