<!--NAV BAR-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/index">Fandom</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" ng-show="profile">
                            <a href="javascript:;" datatarget="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Favorites <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="favorite in favoritesList" ng-if="user.favorites.indexOf(favorite._id) !== -1"><a href="#/show/{{favorite._id}}">{{favorite.name}}</a></li>
                                <li ng-show="favoritesList.length === 0"> None </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-show="profile" href="#/profile_comments/{{user._id}}"><span class="glyphicon glyphicon-user"></span> {{user.local.email}}</a></li>

                        <li><a ng-click="logout()" href="javascript:;" ng-show="profile"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                        <li><a ng-show="!profile" href="#/login">Login</a></li>
                        <li><a ng-show="!profile" href="#/signup">Sign Up</a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<!--NAV BAR END-->

<!-- SIGNUP FORM -->

<div class="body-below-nav">
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
        <h1>Signup</h1>
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="red-text text-center">{{messageError}}</div>

                <form ng-submit="signup()">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" ng-model="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="password">
                    </div>

                    <input type="submit" class="btn btn-primary" id="submit" value="Submit" /> {{message}}
                </form>
                <hr>

                <p>Already have an account? <a href="#/login">Login</a></p>
                <p>Or go <a href="#/">Home</a></p>

            </div>
        </div>
    </div>
</div>
</div>